<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.aaronoe.cinematic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PopularMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.detailpage.DetailActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/AppThemeWithActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.cinematic.ui.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.search.SearchMoviesActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/AppThemeWithActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.cinematic.ui.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.detailpage.ActorDetails.ActorDetailsActivity"
            android:parentActivityName=".ui.detailpage.DetailActivity"
            android:theme="@style/AppThemeWithActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.detailpage.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.NavigationActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <provider
            android:name=".database.MoviesContentProvider"
            android:authorities="de.aaronoe.cinematic"
            android:exported="false" />

        <service
            android:name=".database.MovieUpdateService"
            android:exported="false" />

        <activity
            android:name=".ui.TvShowDetailActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/AppThemeWithActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.cinematic.ui.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.TvSeasonDetailActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/AppThemeWithActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.cinematic.ui.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.favorites.FavoritesActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/AppThemeWithActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.cinematic.ui.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <data
                    android:host="tmdb-auth-callback"
                    android:scheme="cinematic" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
    </application>

</manifest>