<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.aaronoe.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PopularMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".DetailPage.DetailActivity"
            android:theme="@style/AppThemeWithActionbar"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <provider
            android:name=".Database.MoviesContentProvider"
            android:authorities="de.aaronoe.popularmovies"
            android:exported="false" />

        <activity
            android:name=".ui.Search.SearchMoviesActivity"
            android:theme="@style/AppThemeWithActionbar"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>
        <activity
            android:name=".DetailPage.ActorDetails.ActorDetailsActivity"
            android:theme="@style/AppThemeWithActionbar"
            android:parentActivityName=".DetailPage.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.popularmovies.DetailPage.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.NavigationActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name=".Database.MovieUpdateService"
            android:exported="false" />

        <activity
            android:name=".ui.TvShowDetailActivity"
            android:theme="@style/AppThemeWithActionbar"
            android:parentActivityName=".ui.NavigationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.popularmovies.ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.TvSeasonDetailActivity"
            android:theme="@style/AppThemeWithActionbar"
            android:parentActivityName=".ui.NavigationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.popularmovies.ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.FavoritesActivity"
            android:theme="@style/AppThemeWithActionbar"
            android:parentActivityName=".ui.NavigationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.popularmovies.ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.Search.SearchShowsActivity"
            android:theme="@style/AppThemeWithActionbar"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

    </application>

</manifest>